---
import { Image } from 'astro:assets';
import logoImage from '../assets/logo.png';
---

<nav class="w-full flex justify-center pt-4 mb-8">
  <a href="/" class="pointer-events-auto">
    <Image src={logoImage} alt="Layers of Cream" height={72} />
  </a>
</nav>
